<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('./../partials/head') %>
    <title>PWA</title>
  </head>
  <body>
    <%- include ('./../partials/header') %>
    <%- include ('./../partials/competitions') %>
    <main class="container">
      <%- include ('./../partials/match-list') %>
      <%- include ('./../partials/league-list') %>
    </main>
    <%- include ('./../partials/footer') %>
  </body>
</html>
